
/* ---------- Overall Specifications ---------- */
html{
    height: 100%;
}
body {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    background-color: #c0c0c0;
    height: 100%;
    font-family: Arial;
}
a:link,
a:visited {
    text-decoration: none;
    color: #000;
}
a,
a:hover,
a:active,
a:focus {
    text-decoration: none;
}
@font-face {
    font-family: 'a_futuricabookregular';
    src: url('../fonts/a-futuricabook.eot');
    src: url('../fonts/a-futuricabook.eot?#iefix') format('embedded-opentype'),
    url('../fonts/a-futuricabook.woff') format('woff'),
    url('../fonts/a-futuricabook.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'StandardPosterCTTRegular';
    src: url('../fonts/standardposterctt.eot');
    src: url('../fonts/standardposterctt.eot') format('embedded-opentype'),
    url('../fonts/standardposterctt.woff') format('woff'),
    url('../fonts/standardposterctt.ttf') format('truetype'),
    url('../fonts/standardposterctt.svg#StandardPosterCTTRegular') format('svg');
}
@font-face {
    font-family: 'MyriadProRegular';
    src: url('../fonts/myriadpro-regular.eot');
    src: url('../fonts/myriadpro-regular.eot') format('embedded-opentype'),
    url('../fonts/myriadpro-regular.woff') format('woff'),
    url('../fonts/myriadpro-regular.ttf') format('truetype'),
    url('../fonts/myriadpro-regular.svg#MyriadProRegular') format('svg');
}


h1{
    color: #B9B9B8;
    text-align: right;
}
input[type="submit"]:hover{
    cursor: pointer;
}
#page-wrapper{
    background: url("../images/backgraund.png") no-repeat top center;
    margin:0 auto;
    width: 1200px;
    /*min-height: 100%;*/
    /*height: auto !important;*/
    /*height: 100%;*/
    overflow: hidden;
    position: relative;
}

#header{
    background: url("../images/header.png") no-repeat;
    height: 76px;
    padding-bottom: 25px;
}
a#logo{
    display: block;
    margin-left: 50px;
    width: 238px;
    padding-top: 17px;
}
div#nav{
    position: absolute;
    left: 30px;
    top: 64px;
}
div#nav ul{
    margin: 0;
    padding: 0;
    list-style: none;

}
div#nav ul li{
    display: block;
    float: left;

}
div#nav ul li a{
    line-height: 48px;
    display: block;
    padding: 4px 18px 0 18px;
    font-size: 18px;
    text-transform: uppercase;
    font-family: MyriadProRegular;
}
div#nav ul li a.active{
    background: url("../images/button.png") repeat-x;
    color: #fff;
}
div#main{
    min-height: 100%;
    width: 100%;
    height: 469px;
}
div#main_img{
    background: url("../images/main.png") 0 0 no-repeat;
    width: 825px;
    height: 494px;
    margin-left: 30px;
    margin-top: -25px;
    float: left;

}
div#sidebar_r{
    float: left;
    margin-left: 12px;
    width: 305px;
    height: 270px;
    margin-top: -11px;
}
.empty {
    height:116px;
}
div#footer{
    background: url("../images/footer.png");
    width: 1200px;
    height: 116px;
    padding-top: 8px;
    margin: 0 auto;
    position: relative;


}
div#footer a#catalog{
    background: url("../images/button_kat.png") no-repeat;
    display: block;
    height: 100px;
    margin-left: 17px;
    font-size: 63px;
    text-transform: uppercase;
    padding: 15px 0 0 260px;
    color: #fff;
    width: 593px;
    float: left;
    font-family: StandardPosterCTTRegular;
}
div#footer a.sign_in{
    background: url("../images/button_signin.png") no-repeat;
    width: 320px;
    height: 70px;
    display: block;
    float: left;
    text-transform: uppercase;
    font-size: 24px;
    color: #fff;
    padding: 21px 0 0 0;
    margin-top: 8px;
    font-family: a_futuricabookregular;
    text-align: center;
}
div#content{
    padding: 0 28px;
    min-heigh: 100%;
    min-height: 540px;
}
div#content .toboggan-unified #login-form{
    margin: 0 auto;
    width: 360px;
    padding: 0 20px;
}
.toboggan-unified input{
    width: 321px;
    margin-left: 12px;
    padding-left: 7px;
    padding-right: 7px;
}
.toboggan-unified #user-register-form input{
    margin-left: 0;
}
.toboggan-unified label{
    font-size: 12px;
    text-transform: uppercase;
    text-align: center;
}
div.form-item-remember-me{
    padding-left: 13px;
    margin-top: 10px;
}
.toboggan-unified .form-item-remember-me label{
    text-transform: none;
    margin-left: 15px;
}
.toboggan-unified input[type="checkbox"]{
    display: none;
    /*display: block;*/
    width: 19px;
    height: 23px;
    padding: 0 5px 0 0;
    font: 12px/21px arial,sans-serif;
    background: url("../images/uncheck.png") no-repeat;
    /*display: block;*/
    clear: left;
    float: left;
}
.checkbox {
    width: 19px;
    height: 21px;
    padding: 0 5px 0 0;
    background: url("../images/checkbox.png") no-repeat;
    display: block;
    clear: left;
    float: left;
}

input[type="submit"]{
    background: url("../images/button_sign.png") no-repeat;
    color: #fff;
    border: 0;
    height: 68px;
    width: 364px;
    margin: 0;
    font-size: 24px;
    text-transform: uppercase;
    font-family: a_futuricabookregular;
    margin-left: -2px;
}
.toboggan-unified div.login-forgot a{
    padding-left: 16px;
    font-size: 12px;
}
.toboggan-unified a#register-link{
    background: url("../images/button_sign.png") no-repeat;
    display: block;
    color: #fff;
    border: 0;
    height: 52px;
    width: 252px;
    margin: 0;
    font-size: 24px;
    padding: 18px 0 0 112px;
    text-transform: uppercase;
    margin: 0 auto;
    font-family: a_futuricabookregular;
}
div.toboggan-unified div#login-message{
    color: #b9b9b8;
    text-align: right;
    width: 100%;
    margin-bottom: 23px;
    text-transform: uppercase;
    font-size: 30px;
}
div.form-type-textfield label,
div.form-type-password label{
    margin: 10px 0;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: normal;
}
div.toboggan-unified input[type="text"],
div.toboggan-unified input[type="password"],
div.toboggan-unified input[type="email"],
form#user-pass input[type="text"]{
    border: 2px;
    background: url("../images/input_reg.png") no-repeat;
    height: 23px;
}
form#user-pass div.form-type-textfield{
    width: 360px;
    text-align: center;
    margin: 0 auto;
}
form#user-pass div.form-type-textfield input{
    width: 360px;
}
div.toboggan-unified form#user-register-form{
    text-align: center;
}
div.toboggan-unified form#user-register-form .form-type-password{
    width: 100%;
}
div.password-confirm, div.password-strength{
    width: 475px;
    float: right;
    margin: 5px auto;

}
div#content div.toboggan-unified a.lt-active{
    display: none;
}
div.password-suggestions{
    text-align: left;
    margin-left: 36%;
}
form.webform-client-form{
    margin: 0 auto;
    text-align: center;
}

form.webform-client-form input[type="text"], form.webform-client-form input[type="email"]{
    width: 420px;
    padding-right: 10px;
    padding-left: 10px;
}
form.webform-client-form label{
    display: block;
    width: 440px;
    text-align: left;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 14px;
    margin: 20px auto 10px auto;
}
form.webform-client-form input[type="submit"]{
    background: url("../images/button_rev.png") no-repeat;
    font-size: 24px;
    height: 71px;
    padding-bottom: 6px;
    width: 472px;
}
div.register div#login-message{
    display: none;
}
div.register{
    margin-top: 50px;
}
input[type="text"],input[type="email"]{
    background: url("../images/input.png") no-repeat top left;
    height: 30px;
    border: 2px;
    font-size: 15px;
}
textarea{
    background: url("../images/textarea.png") no-repeat top left;
    border: 2px;
    height: 193px;
    font-size: 15px;
    padding-top: 10px;
    resize: none;
    width: 420px;
    padding-right: 10px;
    padding-left: 10px;
}
body.page-node-1 h1#page-title{
    display: none;
}
body.page-node-1 div#content{
    margin-top: 50px;
    text-align: center;
}
a.about{
    background: url("../images/button_signin.png") no-repeat;
    width: 198px;
    height: 63px;
    display: block;
    float: left;
    text-transform: uppercase;
    font-size: 24px;
    color: #fff;
    padding: 22px 0 0 117px;
    font-family: a_futuricabookregular;
}
a.support{
    background: url("../images/button_signin.png") no-repeat;
    width: 280px;
    height: 64px;
    display: block;
    float: left;
    text-transform: uppercase;
    font-size: 24px;
    color: #fff;
    padding: 21px 0 0 35px;
    font-family: a_futuricabookregular;

}
form#user-login span.checkbox{
    /*background-position: 0 2px!important;*/
}

div.view-display-id-catalog_parent div.views-field-field-term-image{
    float: left;
    width: 63px;
    padding-top: 5px;
}
div.view-display-id-catalog_parent div.views-field-name{
    width: 219px;
    font-size: 12px;
    font-family: arial;
    text-transform: uppercase;
    height: 60px;
    display: table-cell;
    vertical-align: middle;
}
div.view-display-id-catalog_parent table{
    width: 100%;
}
div.view-display-id-catalog_child{
    width: 620px;
    float: left;
    font-size: 12px;
    text-transform: uppercase;
    line-height: 20px;
    font-family: arial;
    margin-left: 57px;
}
div#block-catalog-form-catalog-form{
    float: right;
    width: 450px;
    height: 650px;
}
div#block-ky100-term-parent{
    width: 670px;
    float: left;
    margin-bottom: 10px;
}
div#block-ky100-term-parent div#parent{
    display: table;
    height: 55px;
}
div#block-ky100-term-parent img{
    float: left;
}

div#block-ky100-term-parent span{
    display: table-cell;
    vertical-align: middle;
    width: 220px;
    margin-left: 10px;
    padding-left: 10px;
    font-size: 13px;
    text-transform: uppercase;
    line-height: 20px;
}
div.view-display-id-catalog_child td{
    width: 50%;
}
div.view-display-id-catalog_child td:hover{
    background: #a5a5a5;
}
div.view-display-id-catalog_child td a{
    display: block;
}
div.view-display-id-catalog_child table{
    width: 100%;
}
div#block-catalog-form-catalog-form div.form-type-textfield label,
div#block-catalog-form-catalog-form div.form-type-textarea label{
    display: none;
}
div#block-catalog-form-catalog-form div.form-item-time label{
    display: inline;
    padding: 0 10px 0 20px;
    font-size: 12px;
    text-transform: uppercase;

}
div#block-catalog-form-catalog-form div.form-type-textfield,
div#block-catalog-form-catalog-form div.form-type-textarea{
    margin-bottom: 5px;
}
div#block-catalog-form-catalog-form input[type='text']{
    width: 420px;
    height: 32px;
    font-size: 12px;
    text-transform: uppercase;
    padding: 4px 15px 0 15px;
}
div#block-catalog-form-catalog-form textarea{
    width: 420px;
    font-size: 12px;
    text-transform: uppercase;
    padding: 10px 15px 0 15px;
    height: 130px;
}
div#block-catalog-form-catalog-form div.form-item-time input[type='text']{
    width: 25px;
}
div#block-catalog-form-catalog-form div.form-item-time{
    width: 270px;
    float: left;
}
div.hour{
    width: 180px;
    float: left;
    height: 31px;
    font-size: 12px;
    text-transform: uppercase;
    padding-top: 12px;
}
div#block-catalog-form-catalog-form div.form-type-checkbox{
    font-size: 12px;
    line-height: 22px;
    padding: 4px 0 4px 7px;
}
div#block-catalog-form-catalog-form div.form-type-checkbox label{
    padding-left: 3px;
}
div#block-catalog-form-catalog-form input[type='submit']{
    background: url("../images/button_cat_form.png") no-repeat;
    width: 175px;
    margin-left: 135px;
}
div#search{
    margin-top: 436px;
    height: 40px;
}
div#search input{
    width: 561px;
    background: url("../images/search_bg.png") no-repeat;
    display: block;
    float: left;
    height: 36px;
    margin-right: 5px;
    margin-top: 1px;
    font-family: a_futuricabookregular;
    font-size: 14px;
    text-transform: uppercase;
    padding-left: 11px;
    padding-top: 3px;

}
.mask {
    position:absolute;
    left:0;
    top:0;
    z-index:9000;
    background-color:#000;
    display:none;
}

.boxes .window {
    position:absolute;
    left:0;
    top:0;
    width:440px;
    height:200px;
    display:none;
    z-index:9999;
    padding:20px;
}

.boxes #privatemsg-new{
    width:auto;
    height:auto;
    padding:10px;
    background-color:#C0C0C0;
}
.boxes #block-catalog-form-guest-reply{
    width:auto;
    height:auto;
    padding:10px;
    background-color:#C0C0C0;
}
div.grippie{
    display: none;
}
#privatemsg-new a.active{
    display: none;
}
div#privatemsg-list-form table.privatemsg-list{
    width: 444px;
    height: 314px;
    background: url("../images/message-list.png") no-repeat;
    overflow: auto;
    display: block;
    float: left;
}
div#privatemsg-list-form input[type='checkbox']{
    display: inline;
}
div#privatemsg-list-form .checkbox{
    background: none;
    float: none;
    display: none;
}
div#privatemsg-list-form tr{
    background: none;
    border: none;
    padding: 0;
}
div#privatemsg-list-form tbody{
    border: none;
}
div#privatemsg-list-form th{
    border: none;
}
div#message-list{
    width: 444px;
    height: 314px;
    background: url("../images/message-list.png") no-repeat;
    overflow: auto;
    display: block;
    float: left;
}
table.sticky-header{
    display: none;
}
div.privatemsg-message-column{
    width: 88%;
    padding-right: 10px;
}
#message-list p{
    font-size: 14px;
}
#reply_msg{
    background: url("../images/reply.png") no-repeat;
    display: block;
    width: 166px;
    height: 59px;
    font-size: 24px;
    text-transform: uppercase;
    color: #fff;
    font-family: a_futuricabookregular;
    padding: 23px 0 0 0px;
    float: left;
    margin-left: 350px;
    text-align: center;
}
#messages_l{
    background: url("../images/messages.png") no-repeat;
    display: block;
    width: 194px;
    height: 59px;
    font-size: 24px;
    text-transform: uppercase;
    color: #fff;
    font-family: a_futuricabookregular;
    padding: 23px 0 0 0px;
    float: left;
    text-align: center;
}
#privatemsg-new input.form-autocomplete{
    background: url("../images/input.png") no-repeat;
}
a#edit-cancel{
    display: none;
}
.boxes form#privatemsg-new textarea{
    width: 464px;
}
ul.action-links{
    display: none;
}
ul.primary{
    /*display: none;*/
}
#block-catalog-form-message-counter{
    width: 300px;
    padding-left: 15px;
    float: left;
    margin-right: 40px;
}
#privatemsg-list{
    /*width: 535px;*/
}
span#name{
    display: block;
    text-transform: uppercase;
    color: #000;
    font-family: a_futuricabookregular;
    font-size: 24px;
    text-align: center;
}
#logout{
    display: block;
    text-transform: uppercase;
    color: #fff;
    font-family: a_futuricabookregular;
    background: url("../images/exit.png") no-repeat;
    font-size: 24px;
    width: 192px;
    height: 59px;
    padding-top: 23px;
    padding-left: 114px;
}
span.counter{
    display: block;
    text-transform: uppercase;
    color: #fff;
    font-family: a_futuricabookregular;
    background: url("../images/count_msg.png") no-repeat;
    font-size: 13px;
    width: 277px;
    height: 27px;
    text-align: center;
    padding-top: 11px;
    margin: 15px auto;
}
span.count{
    display: block;
    color: #000;
    font-family: a_futuricabookregular;
    font-size: 36px;
    background: url("../images/count.png") no-repeat;
    height: 48px;
    width: 168px;
    margin: 0 auto;
    text-align: right;
    letter-spacing: 12px;
}
.count > span{
    margin-right: -5px;
}
#received_msg{
    width: 444px;
    height: 45px;
    display: block;
    text-align: center;
    color: #fff;
    font-family: a_futuricabookregular;
    font-size: 24px;
    text-transform: uppercase;
    float: left;
    background: url("../images/received_msg.png") no-repeat;
    margin-bottom: 10px;
    padding-top: 12px;
}
#privatemsg-list{
    width: 444px;
    float: left;
}
#block-catalog-form-user-links{
    width: 306px;
    display: block;
    float: right;
    margin-top: 35px;
    height: 346px;
}
a.links{
    display: block;
    text-transform: uppercase;
    color: #fff;
    font-family: a_futuricabookregular;
    background: url("../images/exit.png") no-repeat;
    font-size: 24px;
    width: 306px;
    height: 59px;
    padding-top: 23px;
    text-align: center;
}
div.container-inline{
    display: none;
}

.shs-select{
    display: block;
    margin: 0 auto;
    width: 335px;
}
div.tabs{
    display: none;
}
#messages+#main #main_img,
#messages+#main #sidebar_r{
    margin-top: 0;
}
#nav+#messages{
    margin-top: 12px;
}
.shs-select-level-2{
    margin-bottom: 7px;
}

#register-form .form-wrapper, #register-form .form-item,
#user-profile-form .form-wrapper, #user-profile-form .form-item{
    float: left;
    width: 100%;
}
#register-form .form-wrapper label,
#user-profile-form .form-wrapper label{
    float: left;
    width: 235px;
    text-align: left;
    font-family: arial;
}
#register-form .description,
#user-profile-form .description{
    width: 500px;
    float: right;
    margin-bottom: 5px;

}
#register-form div.form-type-checkbox label,
#user-profile-form div.form-type-checkbox label{
    width: 90%;
    text-transform: none;
    line-height: 21px;
}
.privatemsg-message-participants{
    margin-top: 8px;
    float: right;
    width: 95%;
}
#privatemsg-list .privatemsg-list th{
    padding-top: 7px;
    padding-right: 5px;
}
#privatemsg-list .privatemsg-list th.select-all{
    padding-right: 0;
}
div.register a#register-link{
    display: none;
}
form.window .form-actions{
    text-align: center;
}
#privatemsg-list .form-checkbox{
    margin-left: 7px;
}
td.privatemsg-list-subject{
    width: 35%;
    height: 30px;
}
td.privatemsg-list-date{
    width: 27%;
    padding-right: 7px;
}
#user-profile-form{
    float: right;
    width: 700px;
}
#user-profile-form input[type="text"],
#user-profile-form input[type="email"],
#user-profile-form input[type="password"]{
    width: 315px;
    padding-right: 10px;
    padding-left: 10px;
    background: url("../images/input_reg.png") no-repeat;
    border: 2px none;
    height: 23px;
}
#user-profile-form .form-type-checkbox{
    float: left;
    line-height: 21px;
    font-size: 12px;
}
#user-profile-form .description{
    text-align: justify;
    margin: 7px 0;
}
#user-profile-form div.password-confirm,
#user-profile-form div.password-strength{
    float: right;
    margin: 5px auto;
    width: 370px;
}
#user-profile-form fieldset.form-wrapper{
    width: 335px;
    margin: 0 auto 15px 235px;
    padding: 0;
}
#user-profile-form input.element-invisible{
    display: inline;
    width: 0;
    height: 0;
}
#user-profile-form .shs-select{
    float: left;
}
#user-profile-form .form-actions{
    text-align: center;
}
#user-register-form{
    width: 700px;
    float: right;
}
table.privatemsg-list thead{
    width: 100%;
}
td.empty{
    width: 444px;
    text-align: center;
}
#guest-reply-form .form-submit{
    display: block;
    margin: 0 auto;
}
#privatemsg-new{
    width: 450px;
    float: left;
}
#privatemsg-new fieldset{
    display: none;
}
#privatemsg-new input[type='text'],
#privatemsg-new textarea{
    width: 430px;
    padding-left: 10px;
    padding-right: 10px;
}
#privatemsg-new .form-actions{
    text-align: center;
}
div.captcha input[type='text']#edit-captcha-response{
    width: 290px;
    float: right;
}
.captcha .description{
    text-align: center;
}
a.user-mes{
    display: block;
}
#back_response{
    margin-top: 150px;
    text-align: center;
}
#back_response a{
    text-decoration: underline;
}
div#block-catalog-form-catalog-form input[type="text"]#phone{
    width: 190px;
    float: left;
    margin-bottom: 5px;
}
div#block-catalog-form-catalog-form input[type="text"]#h_phone{
    width: 190px;
    float: right;
    margin-bottom: 5px;
}