
/* ---------- Overall Specifications ---------- */
html{
    height: 100%;
}
body {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    background-color: #c0c0c0;
    height: 100%;
    font-family: Arial;
}
a:link,
a:visited {
    text-decoration: none;
    color: #000;
}
a,
a:hover,
a:active,
a:focus {
    text-decoration: none;
}
@font-face {
    font-family: 'a_futuricabookregular';
    src: url('../fonts/a-futuricabook.eot');
    src: url('../fonts/a-futuricabook.eot?#iefix') format('embedded-opentype'),
    url('../fonts/a-futuricabook.woff') format('woff'),
    url('../fonts/a-futuricabook.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'StandardPosterCTTRegular';
    src: url('../fonts/standardposterctt.eot');
    src: url('../fonts/standardposterctt.eot') format('embedded-opentype'),
    url('../fonts/standardposterctt.woff') format('woff'),
    url('../fonts/standardposterctt.ttf') format('truetype'),
    url('../fonts/standardposterctt.svg#StandardPosterCTTRegular') format('svg');
}
@font-face {
    font-family: 'MyriadProRegular';
    src: url('../fonts/myriadpro-regular.eot');
    src: url('../fonts/myriadpro-regular.eot') format('embedded-opentype'),
    url('../fonts/myriadpro-regular.woff') format('woff'),
    url('../fonts/myriadpro-regular.ttf') format('truetype'),
    url('../fonts/myriadpro-regular.svg#MyriadProRegular') format('svg');
}


h1{
    color: #B9B9B8;
}
input[type="submit"]:hover{
    cursor: pointer;
}
#page-wrapper{
    background: url("../images/backgraund.png") no-repeat top center;
    margin:0 auto;
    width: 1200px;
    min-height: 100%;
    height: auto !important;
    height: 100%;
    overflow: hidden;
    position: relative;
}

#header{
    background: url("../images/header.png") no-repeat;
    height: 76px;
    padding-bottom: 25px;
}
a#logo{
    display: block;
    margin-left: 50px;
    width: 238px;
    padding: 13px 0;
}
div#nav{
    position: absolute;
    left: 30px;
    top: 64px;
}
div#nav ul{
    margin: 0;
    padding: 0;
    list-style: none;

}
div#nav ul li{
    display: block;
    float: left;

}
div#nav ul li a{
    line-height: 48px;
    display: block;
    padding: 4px 18px 0 18px;
    font-size: 18px;
    text-transform: uppercase;
    font-family: MyriadProRegular;
}
div#nav ul li a.active{
    background: url("../images/button.png") repeat-x;
    color: #fff;
}
div#main{
    min-height: 100%;
    width: 100%;
    height: 500px;
}
div#main_img{
    background: url("../images/main.png") 0 0 no-repeat;
    width: 825px;
    height: 520px;
    margin-left: 30px;
    margin-top: -25px;
    float: left;

}
div#sidebar_r{
    float: left;
    margin-left: 12px;
    width: 305px;
    height: 270px;
    margin-top: -11px;
}
.empty {
    height:116px;
}
div#footer{
    background: url("../images/footer.png");
    width: 1200px;
    height: 116px;
    padding-top: 8px;
    margin: -116px auto 0 auto;
    position: relative;


}
div#footer a#katalog{
    background: url("../images/button_kat.png") no-repeat;
    display: block;
    height: 100px;
    margin-left: 17px;
    font-size: 63px;
    text-transform: uppercase;
    /*font-weight: bold;*/
    padding: 15px 0 0 260px;
    color: #fff;
    width: 593px;
    float: left;
    font-family: StandardPosterCTTRegular;
}
div#footer a#sign_in{
    background: url("../images/button_signin.png") no-repeat;
    width: 280px;
    height: 70px;
    display: block;
    float: left;
    text-transform: uppercase;
    font-size: 24px;
    color: #fff;
    padding: 21px 0 0 40px;
    margin-top: 8px;
    font-family: a_futuricabookregular;
}
div#content{
    padding: 0 28px;
    min-heigh: 100%;
}
div#content .toboggan-unified #login-form{
    margin: 0 auto;
    width: 360px;
    padding: 0 20px;
}
.toboggan-unified input{
    width: 335px;
    margin-left: 12px;
}
.toboggan-unified #user-register-form input{
    margin-left: 0;
}
.toboggan-unified label{
    font-size: 12px;
    text-transform: uppercase;
    text-align: center;
}
div.form-item-remember-me{
    padding-left: 13px;
    margin-top: 10px;
}
.toboggan-unified .form-item-remember-me label{
    text-transform: none;
    margin-left: 15px;
}
.toboggan-unified input[type="checkbox"]{
    display: none;
    /*display: block;*/
    width: 19px;
    height: 23px;
    padding: 0 5px 0 0;
    font: 12px/21px arial,sans-serif;
    background: url("../images/uncheck.png") no-repeat;
    /*display: block;*/
    clear: left;
    float: left;
}
.checkbox {
    width: 19px;
    height: 21px;
    padding: 0 5px 0 0;
    background: url("../images/checkbox.png") no-repeat;
    display: block;
    clear: left;
    float: left;
}

input[type="submit"]{
    background: url("../images/button_sign.png") no-repeat;
    color: #fff;
    border: 0;
    height: 68px;
    width: 364px;
    margin: 0;
    font-size: 24px;
    text-transform: uppercase;
    font-family: a_futuricabookregular;
    margin-left: -2px;
}
.toboggan-unified div.login-forgot a{
    padding-left: 16px;
    font-size: 12px;
}
.toboggan-unified a#register-link{
    background: url("../images/button_sign.png") no-repeat;
    display: block;
    color: #fff;
    border: 0;
    height: 52px;
    width: 252px;
    margin: 0;
    font-size: 24px;
    padding: 18px 0 0 112px;
    text-transform: uppercase;
    margin: 0 auto;
    font-family: a_futuricabookregular;
}
div.toboggan-unified div#login-message{
    color: #b9b9b8;
    text-align: right;
    width: 100%;
    margin-bottom: 23px;
    text-transform: uppercase;
    font-size: 30px;
}
div.form-type-textfield label,
div.form-type-password label{
    margin: 10px 0;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: normal;
}
div.toboggan-unified input[type="text"],
div.toboggan-unified input[type="password"],
div.toboggan-unified input[type="email"],
form#user-pass input[type="text"]{
    border: 2px;
    /*background: #fff;*/
    /*box-shadow: inset 2px 2px 4px 1px  #3b3b3b;*/
    /*-moz-box-shadow: inset 2px 2px 4px 1px  #3b3b3b;*/
    /*-webkit-box-shadow:inset 2px 2px 4px 1px  #3b3b3b;*/
    background: url("../images/input_reg.png") no-repeat;
    height: 23px;
    /*filter:*/
    /*progid:DXImageTransform.Microsoft.Shadow(color=#aaaaaa,direction=45,strength=5)*/
    /*progid:DXImageTransform.Microsoft.Shadow(color=#aaaaaa,direction=135,strength=5)*/
    /*progid:DXImageTransform.Microsoft.Shadow(color=#aaaaaa,direction=225,strength=5)*/
    /*progid:DXImageTransform.Microsoft.Shadow(color=#aaaaaa,direction=315,strength=5);*/

}
form#user-pass div.form-type-textfield{
    width: 360px;
    text-align: center;
}
form#user-pass div.form-type-textfield input{
    width: 360px;
}
div.toboggan-unified form#user-register-form{
    text-align: center;
}
div.toboggan-unified form#user-register-form .form-type-password{
    width: 100%;
}
div.password-confirm, div.password-strength{
    width: 272px;
    position: absolute;
    right: 50px;
}
div#content div.toboggan-unified a.lt-active{
    display: none;
}
div.password-suggestions{
    text-align: left;
    margin-left: 36%;
}
form.webform-client-form{
    margin: 0 auto;
    text-align: center;
}

form.webform-client-form input[type="text"], form.webform-client-form input[type="email"]{
    width: 440px;
}
form.webform-client-form label{
    display: block;
    width: 440px;
    text-align: left;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 14px;
    margin: 20px auto 10px auto;
}
form.webform-client-form input[type="submit"]{
    background: url("../images/button_rev.png") no-repeat;
    font-size: 24px;
    height: 71px;
    padding-bottom: 6px;
    width: 472px;
}
div.register div#login-message{
    display: none;
}
div.register{
    margin-top: 50px;
}
input[type="text"],input[type="email"]{
    background: url("../images/input.png") no-repeat top left;
    height: 30px;
    border: 2px;
    font-size: 15px;
}
textarea{
    background: url("../images/textarea.png") no-repeat top left;
    border: 2px;
    height: 198px;
    font-size: 15px;
    padding-top: 5px;
    resize: none;
    width: 440px;
}
body.page-node-1 h1#page-title{
    display: none;
}
body.page-node-1 div#content{
    margin-top: 50px;
    text-align: center;
}
a.about{
    background: url("../images/button_signin.png") no-repeat;
    width: 198px;
    height: 63px;
    display: block;
    float: left;
    text-transform: uppercase;
    font-size: 24px;
    color: #fff;
    padding: 22px 0 0 117px;
    font-family: a_futuricabookregular;
}
a.support{
    background: url("../images/button_signin.png") no-repeat;
    width: 280px;
    height: 64px;
    display: block;
    float: left;
    text-transform: uppercase;
    font-size: 24px;
    color: #fff;
    padding: 21px 0 0 35px;
    font-family: a_futuricabookregular;

}
form#user-login span.checkbox{
    /*background-position: 0 2px!important;*/
}